*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "IBM Plex Sans", Courier, sans-serif;
}

/* header section */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  height: 30px;
}
.links ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.links {
  margin-right: 20px;
}
.links a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: white;
}
.links a:hover {
  color: #7dec54;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header {
  background-color: #4c8337;
  color: white;
  padding: 20px;
}
.title h1 {
  font-size: 96px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 3%;
}
.title p {
  font-size: 32px;
  font-weight: 700;
  margin-top: 0;
}
.title {
  margin-left: 5%;
  font-family: "Junge", Courier, sans-serif;
}
/* !!!!!!!!!!!!!! */
.links a.active {
  color: #7dec54;
  font-weight: 500;
}

/* category section */
.category {
  padding: 1% 2%;
  border-bottom: 1px solid #87e563;
  background-color: #4c83370d;
}
ul#categoryNav {
  padding: 1%;
}
.category h3 {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.category-links ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.category-links {
  margin-right: 20px;
}
.category-links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #232323;
}
.cat-link:hover {
  padding: 10px;
  background-color: #4c8337;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}
/* !!!!!!!!!!!!!!!! */
.category-links a.active {
  background-color: #4c8337;
  color: white;
  padding: 8px 17px;
  border-radius: 4px;
  font-weight: 500;
}

/* start section */
.start-content {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding: 3%;
}
.start-img {
  margin: 0 auto;
  width: 50%;
}
.start-content img {
  margin: 3% 0;
  width: 100%;
}
.start-content h1 {
  font-size: 104px;
  font-weight: 500;
  margin: 0;
}
.start-content p {
  font-size: 28px;
  font-weight: 500;
}
.under {
  text-align: left;
}
.start-content h3 {
  font-size: 44px;
  font-weight: 700;
  margin: 0;
}
p.under {
  font-size: 20px;
  font-weight: 500;
}

/* incubation section */
.incubation {
  padding: 2% 0;
}
.incubation-content {
  margin: 0 auto;
  width: 70%;
}
.incubation-content p {
  font-size: 20px;
  font-weight: 400;
}
.incubation-title {
  display: flex;
  align-items: baseline;
  margin: 2% 0;
  position: relative;
}
.incubation-title img {
  position: absolute;
  left: 17%;
  top: -75%;
}

h3.title {
  margin: 0;
  font-size: 32px;
  font-weight: 700;
}
.highlight {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: 2%;
}
.content {
  display: flex;
  gap: 3%;
}
.content img {
  width: 33px;
  height: 32px;
}
.content p {
  margin-left: 2%;
  margin-bottom: 4%;
  font-size: 24px;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/* get-in-touch section */
.get-in-touch {
  padding: 60px 20px;
  background-color: #f6f9f5;
  color: white;
}
.get-in {
  background-color: #0d1836;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  border-radius: 20px;
  padding: 20px 10px;
}
.get-in h2 {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
}
.get-in p {
  font-size: 24px;
  font-weight: 500;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 8%;
  color: #c1c1c1;
}
.email,
.num {
  font-size: 20px;
  font-weight: 500;
}
.num{
  text-decoration: none;
  color: #c1c1c1;
}

/* footer section */
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.unilag {
  height: 40px;
}
.nithub {
  height: 30px;
}
.footer {
  /* margin-top: 20px; */
  background-color: #f5f5f5;
  padding: 40px 20px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}
.footer-section p {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 400;
}
.footer-section h4 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
}

.footer-section i {
  margin: 5px 0;
  font-size: 14px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
}
.social-icons {
  display: flex;
  align-items: center;
}
i.fab {
  margin-right: 10px;
  cursor: pointer;
  font-size: 25px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  margin-right: 20px;
  color: white;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 0;
  }
  nav {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .hamburger {
    display: block;
    /* margin-right: 50px; */
  }

  .links {
    width: 100%;
    display: none;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 82%;
  }

  .links.active {
    display: flex;
  }

  .links ul {
    flex-direction: column;
    gap: 15px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin-bottom: 20px;
    width: 100%;
  }

  .social-icons {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-logo {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .get-in-touch {
    padding: 0;
    margin-top: 20px;
  }
  .get-in {
    width: 90%;
    padding: 20px 18px;
  }

  .get-in h2 {
    font-size: 44px;
  }

  .get-in p {
    font-size: 16px;
  }
  .contact-info .email,
  .contact-info .num {
    font-size: 12px;
  }
  .title {
    margin-left: 0;
  }
  .title h1 {
    font-size: 60px;
  }
  .title p {
    font-size: 20px;
    line-height: 28px;
  }
  .category {
    padding-bottom: 5%;
  }
  .category-links ul {
    flex-direction: column;
    gap: 25px;
  }

  .cat-link {
    width: 80vw;
    text-align: center;
  }
  .category h3 {
    font-size: 26px;
  }
  a.cat-link {
    font-size: 16px;
  }

  .start-content h1 {
    font-size: 50px;
  }
  .start-content p {
    font-size: 18px;
  }
  .start-img {
    width: 100%;
  }
  .start-content h3.under {
    font-size: 28px;
  }
  .start-content p.under {
    font-size: 14px;
  }
  .start-content {
    width: 80%;
    padding: 0;
  }
  .incubation-content {
    width: 90%;
  }
  .incubation-title h3.title {
    font-size: 24px;
  }
  .incubation-content p {
    font-size: 12px;
  }
  .incubation-title img {
    width: 46px;
    height: 45px;
    left: 35%;
    top: -55%;
  }
  .highlight {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .highlight .content p {
    font-size: 18px;
    margin: 0;
  }
  .content img {
    width: 16px;
    height: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1160px) {
  .logo {
    margin-left: 0;
  }
  nav {
    padding: 0;
  }
  .get-in-touch {
    padding: 0;
    margin-top: 20px;
  }
  .get-in {
    width: 90%;
    padding: 20px 18px;
  }
  .title {
    margin-left: 0;
  }
  .start-content h1 {
    font-size: 70px;
  }
  .start-content p {
    font-size: 25px;
  }
  .start-img {
    width: 90%;
  }
  .start-content {
    padding: 0;
  }
  .incubation-content {
    width: 90%;
  }
  .incubation-title img {
    left: 22%;
    top: -75%;
  }
}
